<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>WorkShop Template</title>
</head>
<body>
    <div class="wf-content">
        <div class="wf-content__editor">
            <div class="wf-content__editor__control container-center">1</div>
            <div class="wf-content__editor__control container-center">2</div>
            <div class="wf-content__editor__control container-center">3</div>
            <div class="wf-content__editor__control container-center">4</div>
            <div class="wf-content__editor__control container-center">5</div>
            <div class="wf-content__editor__control container-center">6</div>
            <div class="wf-content__editor__control container-center">7</div>
            <div class="wf-content__editor__control container-center">8</div>
            <div class="wf-content__editor__control container-center">9</div>
            <div class="wf-content__editor__control container-center">10</div>
            <div class="wf-content__editor__control container-center">11</div>
            <div class="wf-content__editor__control container-center">12</div>
            <div class="wf-content__editor__control container-center">13</div>
            <div class="wf-content__editor__control container-center">14</div>
            <div class="wf-content__editor__control container-center">15</div>
            <div class="wf-content__editor__control container-center">16</div>
            <div class="wf-content__editor__control container-center">17</div>
            <div class="wf-content__editor__control container-center">18</div>
            <div class="wf-content__editor__control container-center">19</div>
            <div class="wf-content__editor__control container-center">20</div>
            <div class="wf-content__editor__control container-center">21</div>
            <div class="wf-content__editor__control container-center">22</div>
            <div class="wf-content__editor__control container-center">23</div>
            <div class="wf-content__editor__control container-center">24</div>
            <div class="wf-content__editor__control container-center">25</div>
            <div class="wf-content__editor__control container-center">26</div>
            <div class="wf-content__editor__control container-center">27</div>
            <div class="wf-content__editor__control container-center">28</div>
            <div class="wf-content__editor__control container-center">29</div>
            <div class="wf-content__editor__control container-center">30</div>
        </div>
        <div class="wf-content__tree container-center">
            Tree Placeholder
        </div>
    </div>
    <div class='wf-drawer container-center'>
        Workflow Drawer Placeholder
    </div>
</body>
</html>