/*-------------------------------------------------*/
body {
    height: 100vh;
    margin: 0;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

/*----------------- Workflow Content --------------*/
div.wf-content {
    display: flex;
    flex: 1 0 80%;
    overflow: auto;
    flex-direction: row;
}

div.wf-content__editor {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    overflow: auto;
    background-color: cadetblue;
}

div.wf-content__editor__control {
    margin: 10px;
    height: 120px;
    flex-shrink: 0;
    background-color: indianred;
}

div.wf-content__editor__association-control {
    margin: 10px;
    height: 120px;
    overflow-y: auto;
    flex-shrink: 0;
    background-color: indianred;
}

div.wf-content__association-row {
    flex: 1;
    font-size: 1rem;
}

div.wf-content__tree {
    display: flex;
    flex: 1 0 50%;
    background-color: skyblue;
}

/*-------------------------------------------------*/

/*------------------ Workflow Drawer --------------*/
div.wf-drawer {
    display: flex;
    flex: 1 0 20%;
    background-color: gold;
}
/*-------------------------------------------------*/

/*------------------- Common Class ----------------*/
.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*-------------------------------------------------*/
