<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>WorkShop Template</title>
</head>
<body>
    <div class="wf-content">
        <div class="wf-content__editor">
            <div class="wf-content__editor__control">
                <p class="control-title">Name</p>
            </div>
            <div class="wf-content__editor__control">
                <p class="control-title">Detail</p>
            </div>
            <div class="wf-content__editor__control">
                <p class="control-title">Address</p>
            </div>
            <div class="wf-content__editor__control">
                <p class="control-title">Classification</p>
            </div>
            <div class="wf-content__editor__association-control">
                <p class="control-title">Association</p>
                <div class="wf-content__association-row">A1</div>
                <div class="wf-content__association-row">A2</div>
                <div class="wf-content__association-row">A3</div>
                <div class="wf-content__association-row">A4</div>
                <div class="wf-content__association-row">A5</div>
                <div class="wf-content__association-row">A6</div>
            </div>
        </div>
        <div class="wf-content__tree container-center">
            <p class="control-title">Tree Placeholder</p>
        </div>
    </div>
    <div class='wf-drawer container-center'>
        <p class="control-title">Workflow Drawer Placeholder</p>
    </div>
</body>
</html>