/*---------------  Clean Up  ---------------*/
body {
    /* TODO: full height of page and no scrollbar */
    margin: 0;
    background-color: yellow;
    font-size: 1rem;
}

.control-title {
    font-weight: bold;
    font-size: 1.5rem;
}

/*----------------- Workflow Content --------------*/
div.wf-content {
    /* TODO: full height of page and no scrollbar */
    overflow: auto;
}

div.wf-content__editor {
    /* TODO: full height of page and no scrollbar */
    background-color: cadetblue;
}

div.wf-content__editor__control {
    /* TODO: full height of page and no scrollbar */
    margin: 10px;
    height: 120px;
    background-color: indianred;
}

div.wf-content__editor__association-control {
    /* TODO: full height of page and no scrollbar */
    margin: 10px;
    height: 120px;
    background-color: indianred;
}

div.wf-content__association-row {
    /* TODO: full height of page and no scrollbar */
}

div.wf-content__tree {
    /* TODO: full height of page and no scrollbar */
    background-color: skyblue;
}

/*-------------------------------------------------*/

/*------------------ Workflow Drawer --------------*/
div.wf-drawer {
    /* TODO: full height of page and no scrollbar */
    background-color: gold;
}

/*-------------------------------------------------*/

/*------------------- Common Class ----------------*/
.container-center {
    /* TODO: full height of page and no scrollbar */
}

/*-------------------------------------------------*/
